<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.exemple.gsb_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gsb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gsb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".accueil"/>
        <activity android:name=".login"/>
        <activity android:name=".rapportdevisite"/>
        <activity android:name=".modifierrapport"/>
        <activity android:name=".ajouterrapport">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".medecins"/>
        <activity android:name=".majmedecin"/>
        <activity android:name=".listerapports"/>
    </application>
</manifest>
